{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Export to Members{% endblock %}
{% block content %}

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Import File</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'Attendance:home page' %}">Home</a></li>
                            <li class="breadcrumb-item active">New Group</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Pastoral Care Group</h3>
                            </div>
                            <div class="card-body">
              <div class="form-group">
                <form method="POST" action="">
                  {% csrf_token %}
                  <div class="form-group">
                    <label>Import Members</label>

                    <input type="file" name="myfile" class="form-control">
                             <button type="submit" class="btn btn-success" >Upload</button>

                  </div>
                </form>
              </div>
            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock %}