{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Dashboard{% endblock %}
{% block content %}

    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3><a href="{% url 'Attendance:list_pcs' %}">{{ pcs_count }}</a></h3>

                                <p>PCS Names</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-layer-group"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <a href="{% url 'PCMember:listmemeber' %}" ><h3>{{ member_count }}<sup style="font-size: 20px"></sup></h3></a>

                                <p>Members</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">

                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3><a href="{% url 'PC_attend:attendance_list' %}">{{ attendance_count }}</a> </h3>

                                <p>Attendance Count</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-pen-nib"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">

                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>{{ accounts_count }}</h3>

                                <p>Heads</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <section class="col-lg-7 connectedSortable">
                    </section>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>PCS GROUP NAME</th>
                                                <th>PCS HEAD</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                                {% for pcs_list in pcs_list %}
                                                    <tr>
                                                <td>{{ pcs_list.id }}</td>
                                                <td> <a href="{% url 'Attendance:pcadetails' pcs_list.slug%}" >{{ pcs_list.pcs_name }}</a></td>
                                                <td>{{ pcs_list.user }}</td>
                                                    </tr>
                                                {% endfor %}

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>PCS GROUP NAME</th>
                                                <th>MEMBER LAST NAME</th>
                                                <th>MEMBER FIRST NAME</th>
                                                <th>PCS HEAD</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                                {% for mem in mem %}
                                                     <tr>
                                                <td>{{ mem.id }}</td>
                                                <td>{{ mem.pcs_name }}</td>
                                                <td><a href="{% url 'PCMember:member_details' mem.slug%}"class="nav-link"> {{ mem.pc_member_last_name}}</a></td>
                                                <td>{{ mem.pc_member_first_name }}</td>
                                                <td>{{ mem.user }}</td>
                                                    </tr>
                                                {% endfor %}

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>


{% endblock %}