{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Dashboard{% endblock %}
{% block content %}
{#  {% if user.is_authenticated %}#}
  <div class="content-wrapper">
    <div class="wrapper">
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
{#                 <a href="{% url 'ctac:urls_member_list' %}"><h3>{{ memcount }}</h3></a>#}

                  <p>Members</p>
                </div>
                <div class="icon">
                  <i class="fas fa-users"></i>
                </div>
                {#                <a href="{% url 'ctac:urls_member_list' %}" class="small-box-footer">More info </a>#}
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">

                <div class="inner">
{#                  <a href="{% url 'ctac:urls_shepherd_list' %}">#}
{#                    <h3>{{ shecounts }}<sup style="font-size: 20px"></sup></h3></a>#}

                  <p>Shepherds</p>
                </div>
                <div class="icon">
                  <i class="fas fa-walking"></i>
                </div>
{#                <a href="{% url 'ctac:urls_shepherd_list' %}" class="small-box-footer">More info </a>#}
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
{#                <a href="{% url 'ctac:urls_areas_list' %}" ><h3 >{{ new_area }}</h3></a>#}

                  <p>Residences</p>
                </div>
                <div class="icon">
{#                   <a href=""></a>#}
                  <i class="far fa-building"></i>
                </div>
{#                <a href="{% url 'ctac:urls_areas_list' %}" class="small-box-footer">More info</a>#}
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
{#                <a href="{% url 'ctac:urls_ministry_list' %}"><h3>{{ mini_count }}</h3></a>#}

                  <p>Ministries</p>
                </div>
                <div class="icon">
                  <i class="fas fa-church"></i>
                </div>
{#                <a href="{% url 'ctac:urls_ministry_list' %}" class="small-box-footer">More info </a>#}
              </div>
            </div>
            <div class="container-fluid mt-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header border-transparent">
                      <h3 class="card-title">Latest Attendance</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body ">
                      <div class="table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                          <tr>
                            <th style="background-color:#e67676">Member</th>
                            <th style="background-color:#e67676" >Service Date</th>
                            <th style="background-color:#e67676" >Service Attended</th>
                            <th style="background-color:#e67676" >Present_in</th>
                            <th style="background-color:#e67676">Shepherd</th>
                            <th style="background-color:#e67676">Chapel</th>
                          </tr>
                          </thead>
                          <tbody>
{#                          {% for attd in attd %}#}
{#                            <tr>#}
{#                              <td> {{ attd.member|lower|capfirst }}</td>#}
{#                              <td> {{ attd.date }}</td>#}
{#                              <td>{{ attd.services }}</td>#}
{#                              <td> {{ attd.present_in|lower|capfirst }}</td>#}
{#                              <td> {{ attd.shepherd }}</td>#}
{#                              <td>{{ attd.chapel }}</td>#}
{#                            </tr>#}
{#                          {% endfor %}#}
                          <tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="card-footer clearfix">
{#                        <a href="{% url 'ctac:dance' %}" class="btn btn-sm btn-info float-left"> New#}
                          Attendance</a>
{#                        <a href="{% url 'ctac:urls_attendance_list' %}" class="btn btn-sm btn-secondary float-right">View All#}
{#                          Attendance</a>#}
                      </div>
                    </div>
                    <section class="content">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Latest Member</h3>
                        </div>
                        <div class="card-body">
                          <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                              <th style="background-color:#e67676">Last Name</th>
                              <th style="background-color:#e67676">Other Name</th>
                              <th style="background-color:#e67676">First Name</th>
                              <th style="background-color:#e67676">Phone Number</th>
                              <th style="background-color:#e67676">Shepherd</th>
                            </tr>
                            </thead>
                            <tbody>
{#                            {% for mat in mat %}#}
{#                              <tr>#}
{#                                <td>{{ mat.surname|capfirst|center:"15" }}</td>#}
{#                                <td>{{ mat.second_name|lower|capfirst }}</td>#}
{#                                <td>{{ mat.first_name|lower|capfirst }}</td>#}
{#                                <td> {{ mat.contact_number }}</td>#}
{#                                <td>{{ mat.shepherd }}</td>#}
{#                              </tr>#}
{#                            {% endfor %}#}
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{#  {% else %}#}
{#  <h1>You must be login to view this page</h1>#}
{##}
{#  {% endif %}#}


{% endblock %}
